
<%- contentFor('body') %>
<div class="container">
        <div class="row align-items-center">
          <div class="col-md border bg-light">
            Retiros de la fecha
          </div>
          <div class="col-md border bg-light">
             Notificaciones Manuales
          </div>
          <div class="col-md border bg-light">
            Nivel de Stock
          </div>
        </div>
      </div>

