<div>


  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Welcome to <%= usuario%></p>
<form action="/usuarios" method="POST">
    <input type="text" size="40" placeholder="Type your email" id="email"><br />
    <input type="password" size="40" placeholder="Type your password" id="password"><br />
    <input type="button" value="Submit" id="submit">
</form>
<script>    

$(document).ready(function(){
        var email,pass;
        $("#submit").click(function(){
            email=$("#email").val();
            pass=$("#password").val();
            /*
            * Perform some validation here.
            */
            $.post("usuarios/login",{email:email,pass:pass},function(data){
                if(data==='done') {
                    window.location.href="/admin";
                }
            });
        });
    });
        </script>
  </body>
</div>