<%- contentFor('body') %> 
<script>

    function getBooleanCkecked(staus){
        if(staus=='on'){
            return true;
        }
        return false;
    }
        
    function actualizar(){
    var id = $('#id').val();    
    var nombre = $('#nombre').val();
    var apellido = $('#apellido').val();
    var dni = $('#dni').val();
    var mail = $('#mail').val();
    var usuario = $('#usuario').val();
    
    
    var administrativo = $('#administrativo').prop('checked') ;
    var medico = $('#medico').prop('checked') ;
    var administrador = $('#administrador').prop('checked') ;
    var auditor = $('#auditor').prop('checked') ;
    
    
    
        $.ajax({
    
                url : 'http://localhost:3000/usuarios/actualizar',
                type : 'POST',
                data : {
                    'id' : id,
                    'nombre' : nombre,
                    'apellido' : apellido,
                    'usuario' : usuario,
                    'dni' : dni,
                    'mail' : mail,
                    'administrativo' : administrativo,
                    'medico': medico,
                    'administrador': administrador,
                    'auditor' : auditor
                },
                dataType:'json',
                success : function(data){
                    $.ajax({
    
                            url : 'http://localhost:3000/usuarios/all',
                            type : 'GET',
                            data : {
                                'numberOfWords' : 10
                            },
                            dataType:'json',
                            success : bindData,
                            error : function(request,error)
                            {
                                alert("Error: "+JSON.stringify(request));
                            }
                    });
                },
                error : function(request,error)
                {
                    alert("Request: "+JSON.stringify(request.responseText));
                }
                });
    
                $('#RolesModal').modal('hide')
    
    return;
    
    
    }
    function insertarUsuario(datos){
        
    $.ajax({

            url : 'http://localhost:3000/usuarios/insertar',
            type : 'POST',
            data : {
                'nombre' : datos.item.nombre,
                'apellido' : datos.item.apellido,
                'usuario' : datos.item.usuario,
                'dni' : datos.item.dni,
                'mail' : datos.item.mail,
            },
            dataType:'json',
            success : function(data){
                $.ajax({

                        url : 'http://localhost:3000/usuarios/all',
                        type : 'GET',
                        data : {
                            'numberOfWords' : 10
                        },
                        dataType:'json',
                        success : bindData,
                        error : function(request,error)
                        {
                            alert("Error: "+JSON.stringify(request));
                        }
                });
            },
            error : function(request,error)
            {
                alert("Request: "+JSON.stringify(request.responseText));
            }
        });
        
        
        
        return;
    }
        
    function limpiarModal(){
        $('#id').val('');
        $('#nombre').val('');
        $('#apellido').val('');
        $('#dni').val('');
        $('#mail').val('');
        $('#usuario').val('');
    
    
        $('#medico').attr('checked',false);
    
        $('#administrativo').attr('checked',false);
    
        $('#auditor').attr('checked',false);
    
        $('#administrador').attr('checked',false);
    
    
    }
    function editarUsuario(args){
        limpiarModal();
        $('#id').val(args.item.id);
        $('#nombre').val(args.item.nombre);
        $('#apellido').val(args.item.apellido);
        $('#dni').val(args.item.dni);
        $('#mail').val(args.item.mail);
        $('#usuario').val(args.item.usuario);
    
    


        var Atorizados = [
                { "nombre": "Luciano", "apellido":"Castro" , "dni": "25.500.666","Telefono" :"8272-7472"},
                { "nombre": "Connor", "apellido":"Johnston" , "dni": "13.789.986","Telefono" :"8835-4647"},
                { "nombre": "Lacey", "apellido":"Hess" , "dni": "24.323.444","Telefono" :"8272-8835"},
                { "nombre": "Ramona", "apellido":"Benton" , "dni": "25.754.182","Telefono" :"8835-4647"}            ];
         











            $("#jsGridAutorizados").jsGrid({
            width: "1000",
            height: "1000",
            autoload: true,
            pageLoading: true,
            inserting: true,
            //editing: true,
            rowDoubleClick: editarUsuario,
            sorting: true,
            paging: true,
            selecting: true,
            deleteItem: function(item) {
                alert("eliminando");
            //return $.ajax({
            //    type: "DELETE",
            //    url: "/items",
            //    data: item
            //});
            },
            onItemInserting: function(args) {
                insertarUsuario(args);
                // cancel insertion of the item with empty 'name' field
                // alert("Specify the name of the item!");
                // if(args.item.Edad === "") {
                //    args.cancel = true;
                //    alert("Specify the name of the item!");
                //}
            },
            onItemUpdating: function(args) {
            // cancel insertion of the item with empty 'name' field
            alert("Specify the name of the item!");
                if(args.item.Edad === "") {
                    args.cancel = true;
                    alert("Specify the name of the item!");
                }
            },
            data: Atorizados ,
            controller: {
                loadData: function(filter) {
                    var startIndex = (filter.pageIndex - 1) * filter.pageSize;
                    //alert("asdas"+filter.usuario_roles);
                    return ;//{
                        //data: db.clients.slice(startIndex, startIndex + filter.pageSize),
                        //itemsCount: db.clients.length
                    //};
                }
            } ,
            /*
            fields: [
                { name: "Usuario", type: "text", width: 150, validate: "required" },
                { name: "Edad", type: "number", width: 50 },
                { name: "Dir", type: "text", width: 200 },
                { name: "CAS", type: "select", items: countries, valueField: "Id", textField: "Name" },
                { name: "Activo", type: "checkbox", title: "Esta activo", sorting: false },
                { type: "control" }
            ]
            */
            fields: [
                //{ name: "id", title:"Id" , visible:false, type: "number", width: 5, validate: "required" },
                { name: "nombre", title:"Nombre" , type: "text", width: 40, validate: "required" },
                { name: "apellido", title: "Apellido" ,type: "text", width: 30, validate: "required" },
                { name: "dni",title:"DNI" ,type: "text", width: 30, validate: "required" },
               { name: "telefono", title:"Telefono", type: "text", width: 60, validate: "required" },
                //{ name: "usuario",visible:false,title:"Usuario", type: "text", width: 25, validate: "required" },
                //{ name: "usuario_roles",visible:true, type: "select", items: usuario_roles, valueField: "idRol", textField: "Name" },
               // { name: "fh_alta",title:"Fecha Alta" ,visible:false ,type: "text", width: 50, validate: "required" },
              // { name: "fh_baja", visible:false, type: "text", width: 150},

                //{ name: "esMedico", title: "Medico",  type: "checkbox", width: 20},
                //{ name: "esAdministrativo", title: "Administrativo",  type: "checkbox", width: 40},
                //{ name: "esAuditor", title: "Auditor",  type: "checkbox", width: 20},
                //{ name: "esAdministrador", title: "Administrador",  type: "checkbox", width: 40}
                //,
                { type: "control",editButton: false, }
            ]
        });

        
        $('#DetalleModal').modal();
    
        //alert("Specify asdaad name of the item!");
    
    }
    
        
    function bindData(json){
    
        var usuario_roles = [
            
            { Name: "Medico", idRol: 1 },
            { Name: "Administrativo", idRol: 2 },
            { Name: "Auditor", idRol: 3 },
            { Name: "Administrador", idRol: 4 }
        ];
        
        $("#jsGrid").jsGrid({
            width: "900",
            //height: "1200",
            autoload: true,
            pageLoading: true,
            inserting: true,
            //editing: true,
            rowDoubleClick: editarUsuario,
            sorting: true,
            paging: true,
            selecting: true,
            deleteItem: function(item) {
                alert("eliminando");
            //return $.ajax({
            //    type: "DELETE",
            //    url: "/items",
            //    data: item
            //});
            },
            onItemInserting: function(args) {
                insertarUsuario(args);
                // cancel insertion of the item with empty 'name' field
                // alert("Specify the name of the item!");
                // if(args.item.Edad === "") {
                //    args.cancel = true;
                //    alert("Specify the name of the item!");
                //}
            },
            onItemUpdating: function(args) {
            // cancel insertion of the item with empty 'name' field
            alert("Specify the name of the item!");
                if(args.item.Edad === "") {
                    args.cancel = true;
                    alert("Specify the name of the item!");
                }
            },
            data: json ,
            controller: {
                loadData: function(filter) {
                    var startIndex = (filter.pageIndex - 1) * filter.pageSize;
                    //alert("asdas"+filter.usuario_roles);
                    return ;//{
                        //data: db.clients.slice(startIndex, startIndex + filter.pageSize),
                        //itemsCount: db.clients.length
                    //};
                }
            } ,
            /*
            fields: [
                { name: "Usuario", type: "text", width: 150, validate: "required" },
                { name: "Edad", type: "number", width: 50 },
                { name: "Dir", type: "text", width: 200 },
                { name: "CAS", type: "select", items: countries, valueField: "Id", textField: "Name" },
                { name: "Activo", type: "checkbox", title: "Esta activo", sorting: false },
                { type: "control" }
            ]
            */
            fields: [
                { name: "id", title:"Id" , visible:false, type: "number", width: 5, validate: "required" },
                { name: "nombre", title:"Nombre" , type: "text", width: 40, validate: "required" },
                { name: "apellido", title: "Apellido" ,type: "text", width: 30, validate: "required" },
                { name: "dni",title:"DNI" ,type: "text", width: 30, validate: "required" },
                { name: "mail", title:"Mail", type: "text", width: 60, validate: "required" },
                { name: "usuario",visible:false,title:"Usuario", type: "text", width: 25, validate: "required" },
                //{ name: "usuario_roles",visible:true, type: "select", items: usuario_roles, valueField: "idRol", textField: "Name" },
                { name: "fh_alta",title:"Fecha Alta" ,visible:false ,type: "text", width: 50, validate: "required" },
                { name: "fh_baja", visible:false, type: "text", width: 150},

                //{ name: "esMedico", title: "Medico",  type: "checkbox", width: 20},
                //{ name: "esAdministrativo", title: "Administrativo",  type: "checkbox", width: 40},
                //{ name: "esAuditor", title: "Auditor",  type: "checkbox", width: 20},
                //{ name: "esAdministrador", title: "Administrador",  type: "checkbox", width: 40}
                //,
                { type: "control",editButton: false, }
            ]
        });
    
    }
        $(document).ready(function() {  
        
        
        
        
        
            $.ajax({
        
                    url : 'http://localhost:3000/usuarios/all',
                    type : 'GET',
                    data : {
                        'numberOfWords' : 10
                    },
                    dataType:'json',
                    success : bindData,
                    error : function(request,error)
                    {
                        alert("Request: "+JSON.stringify(request));
                    }
                });
        
            /*
            var clients = [
                { "Usuario": "Otto Clay", "Edad": 25, "CAS": 1, "Dir": "Av. Siempre viva 177", "Activo": false },
                { "Usuario": "Connor Johnston", "Edad": 45, "CAS": 2, "Dir": "Ap #370-4647 Dis Av.", "Activo": true },
                { "Usuario": "Lacey Hess", "Edad": 29, "CAS": 3, "Dir": "Ap #365-8835 Integer St.", "Activo": false },
                { "Usuario": "Timothy Henson", "Edad": 56, "CAS": 1, "Dir": "911-5143 Luctus Ave", "Activo": true },
                { "Usuario": "Ramona Benton", "Edad": 32, "CAS": 3, "Dir": "Ap #614-689 Vehicula Street", "Activo": false }
            ];
         
            var countries = [
                { Name: "CAS 0", Id: 0 },
                { Name: "CAS 1", Id: 1 },
                { Name: "CAS 2", Id: 2 },
                { Name: "CAS 3", Id: 3 }
            ];
            */
        });
        </script>
        
        
       
        
        <link type="text/css" rel="stylesheet" href="../stylesheets/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="../stylesheets/jsgrid-theme.min.css" />
            
        <script type="text/javascript" src="../javascripts/jsgrid/jsgrid.min.js"></script>
        
        <h2>Beneficiarios</h2>
        <br>
        <div id="jsGrid" ></div>
        
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 <!--MODAL DE EDIT Y VER USUARIO-->                                                                                                                                                                                                                                                                                                                                   
        <div class="modal fade" id="DetalleModal" tabindex="-1" role="dialog" aria-labelledby="RolesModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="RolesModalLabel">Detalles del Beneficiario</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                            <input type="hidden" class="form-control" id="id" >
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Nombre:</label>
                          <input type="text" class="form-control" id="nombre">
                        </div>
                        <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Apellido:</label>
                                <input type="text" class="form-control" id="apellido">
                        </div>
                        <div class="form-group">
                                <label for="recipient-name" class="col-form-label">DNI:</label>
                                <input type="text" class="form-control" id="dni">
                        </div>
                        <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Mail:</label>
                                <input type="text" class="form-control" id="mail">
                        </div>
                        <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Telefono:</label>
                                <input type="text" class="form-control" id="telefono">
                        </div>
                        <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Autorizados</label>
                        <div id="jsGridAutorizados" ></div>

                                
        
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary" onclick="actualizar();">Actualizar</button>
                    </div>
                  </div>
                </div>
              </div>
        
        <script>
        
        </script>
        
        